@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Fjalla One";
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #1A1A1A;
    width: 100%;
    height: auto;
}

.navbarHeader {
    height: fit-content;
}

#navbarSupportedContent {
    ul {
        margin-left: 22%;

        .home:hover,
        .productos:hover,
        .sucursales:hover,
        .acercaDe:hover,
        .contacto:hover {
            border: 1px solid #A37F41;
            background-color: #ffe9c400;
            color: #fab731cc;
            box-shadow: 5px 5px 0px #A37F41;
            transition: none;
        }

        a {
            font-size: 1.050rem;
            padding-left: 30px;
            padding-right: 30px;
            color: white;
            border: 1px solid #1a1a1a00;
            box-shadow: 5px 5px 0px #1a1a1a00;
            transition: none;
        }
    }

}

@media screen and (max-width: 768px) {
    #navbarSupportedContent ul {
        margin-left: 0;
        flex-direction: column;
        align-items: start;
    }

    #navbarSupportedContent ul li {
        width: fit-content;
    }
}

.imgTitulo {
    width: 150px;
}

.anclaHeader {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 900;
    color: rgb(255, 255, 255) !important;
}

/* INDEX INDEX INDEX */

main {
    background-image: linear-gradient(to right top, #00000050, #00000050), url(../assets/img/Fondo-Mate-Origen.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    .seccionFondoPantallaMain {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 50px;

        .palabrasGrandesMain {
            display: flex;
            flex-direction: column;
            padding-left: 20px;

            .preparoUnos {
                color: white;
                font-size: 2vw;
                text-align: center;
                text-shadow: 5px 5px 0px #A37F41;
                letter-spacing: 4px;
                line-height: 1;
            }

            .mates {
                color: white;
                font-size: 10vw;
                text-shadow: 5px 5px 0px #a37f41;
                letter-spacing: 10px;
                line-height: 1;

            }

            .luego {
                color: white;
                text-align: center;
                font-size: 2vw;
                text-shadow: 5px 5px 0px #A37F41;
                letter-spacing: 4px;
                line-height: 1;
            }

            .existo {
                color: white;
                font-size: 10vw;
                text-shadow: 5px 5px 0px #A37F41;
                letter-spacing: 10px;
                line-height: 1;
            }

            .separadorIndex {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            span {
                color: white;
                font-size: medium;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 500;
            }

            hr {
                margin-left: 15px;
                margin-right: 15px;
                width: 10%;
                height: 2px;
                background-color: sandybrown;
                border: none;
            }

            .palabrasChicasMain {
                text-align: center;
            }

            .yerbaMateOrigen {
                color: white;
                font-size: 21px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 1.2em;
                letter-spacing: 5px;
                text-shadow: 0px 0px 11px #000000;
            }

            .verdaderamentePremium {
                color: white;
                font-size: 21px;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 1.2em;
                letter-spacing: 5px;
                text-shadow: 0px 0px 11px #000000;
            }
        }

        .botonesFondoPantallaMain {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: 60px;

            .compraOnline {
                font-size: 1.5rem;
                margin-left: 130px;
                margin-bottom: 20px;
                &:hover {
                    box-shadow: 10px 20px 0px #a37f41;
                    transition: ease-in-out 0.21s;
                }

                a {
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    background-color: #a37f41;
                    padding-right: 175px;
                    padding-left: 175px;
                    padding-top: 15px;
                    padding-bottom: 15px;

                    &:hover {
                        background-color: #574320;
                        transition: 0.2s;
                    }

                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            .conoceOrigen {
                font-size: 1.5rem;
                margin-top: 15px;
                margin-left: 130px;
                margin-bottom: 20px;
                &:hover {
                    box-shadow: 10px 20px 0px #03594d;
                    transition: ease-in-out 0.21s;
                }

                a {
                    color: rgb(255, 255, 255);
                    background-color: #03594d;
                    text-decoration: none;
                    padding-right: 175px;
                    padding-left: 175px;
                    padding-top: 15px;
                    padding-bottom: 15px;

                    &:hover {
                        background-color: #14423d;
                        transition: 0.2s;
                    }

                    img {
                        width: 28px;
                        height: 25px;
                    }
                }

            }
        }
    }

    .infoOrigen {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 65px;
        padding-right: 65px;
        background-color: #1A1A1A;

        .bordeado {
            display: flex;
            flex-direction: row;
            border: 1px solid rgba(244, 165, 96, 0.496);

            img {
                width: 50% !important;
            }

            .parrafosInfo {
                display: flex;
                flex-direction: column;
                align-items: center;

                padding-left: 100px;
                padding-right: 100px;

                .sobre {
                    color: #A37F41;
                    padding-top: 20px;
                    width: 100%;
                    text-align: left;
                    font-size: 32px;

                }

                .origen {
                    color: white;
                    width: 100%;
                    text-align: left;
                    font-size: 60px;
                    text-shadow: 5px 5px 0px #A37F41;
                    color: white;
                }

                .parrafoInfoOrigen {
                    font-family: 'Quicksand';
                    color: white;
                    font-size: 20px;
                    padding-top: 25px;
                }

                .separador {
                    width: 100%;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: left;
                    padding-top: 30px;
                    padding-bottom: 30px;

                    span {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: large;
                        color: white;
                        padding-right: 15px;
                        font-weight: 600;
                    }
                }

                hr {
                    width: 90%;
                    height: 1px;
                    background-color: #ffa915;
                    border: none;
                }

                .parrafosBajoSeparador {
                    p {
                        font-family: "Quicksand";
                        color: white;
                        font-size: 15px;
                        font-weight: lighter;
                    }
                }

                a {
                    width: 40%;
                    margin-top: 50px;
                    text-decoration: none;
                    color: white;
                    display: block;
                    font-size: x-large;

                }
            }
        }
    }

    #todoTieneSuOrigen{
        font-size: 20px;
        letter-spacing: 5px;
        padding-bottom: 20px;
        &:hover{
            color: #A37F41;
        }
    }

    .iconos {
        background-color: #1A1A1A;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        div {
            display: flex;
            flex-direction: column;
            width: 215px;
            height: 215px;
            margin-bottom: 30px;

            img {
                width: 180px;
                height: 180px;
            }

            p {
                font-family: Montserrat;
                font-weight: 200;
                text-align: center;
                font-size: medium;
                color: white;
            }
        }
    }

    .infoBarbacua {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 65px;
        padding-right: 65px;
        background-color: #1A1A1A;

        .bordeadoBarbacua {
            display: flex;
            flex-direction: row-reverse;
            border: 1px solid rgba(244, 165, 96, 0.496);

            .imagenFondoNextToTexto {
                background-image: url(../assets/img/barbacua.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                position: sticky;
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-size: 109%;
                    color: rgba(255, 255, 255, 0);
                }

                img {
                    margin-top: 60px;
                    width: 300px;
                    height: 300px;
                }
            }

            .parrafosInfoBarbacua {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 40px;
                width: 60%;

                .metodo {
                    color: #A37F41;
                    padding-top: 20px;
                    width: 80%;
                    text-align: left;
                    font-size: 30px;
                    letter-spacing: 5px;
                }

                .barbacua {
                    color: white;
                    width: 80%;
                    text-align: left;
                    font-size: 60px;
                    text-shadow: 5px 5px 0px #A37F41;
                    color: white;
                    letter-spacing: 6px;
                }

                .parrafoInfoBarbacua {
                    width: 97%;
                    font-family: 'Quicksand';
                    color: white;
                    font-size: 22px;
                    padding-top: 35px;
                }

                .contenedorInfoBarbacua{
                    width: 80%;
                }

                .separador {

                    width: 90%;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: left;
                    padding-top: 30px;
                    padding-bottom: 30px;

                    span {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: large;
                        color: white;
                        padding-right: 15px;
                        font-weight: 600;
                    }
                }

                hr {

                    width: 90%;
                    height: 1px;
                    background-color: #fbab21;
                    border: none;
                }

                .parrafosBajoSeparador {
                    .p1,.p2,.p3 {
                        font-family: 'Quicksand';
                        font-size: 16px;
                        font-weight: 400;
                        color: white;
                    }

                    .p3{
                        margin-bottom: 0;
                    }

                    a {
                        width: 40%;
                        margin-top: 50px;
                        text-decoration: none;
                        color: white;
                        display: block;
                        font-size: x-large;

                    }
                }
            }
        }
    }

    .carruselProductos {
        width: 100%;
        background-color: white;

        .tituloCarruselProductos {
            font-size: 5.1rem;
            text-shadow: 5px 5px 0px #b5a3827e;
        }

        .anclaCarruselParrafo {
            color: #A37F41;
            text-decoration: none;
            font-size: 2.55rem;
        }

    }
}

.bordeadoCarrusel1,
.bordeadoCarrusel2 {
    border: 1px solid rgba(244, 165, 96, 0.496);
}

/* INDEX INDEX INDEX */

footer {
    grid-area: footer;
    background-color: rgb(124, 124, 255);
}