{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="divProducto">
    <h1><strong>{{ object.nombre }}</strong></h1>
    
    <p><strong>{{ object.descripcion }}</strong></p>
    
    <p><strong>Precio: $ {{ object.precio }}</strong></p>
    
    <p class="p-stock"><strong>Stock: <span class="span-stock">{{ object.stock }}</span></strong></p>

    <p><strong>Descripcion larga: {{ object.descripcion_larga }}</strong></p>
</div>

{% if object.imagen %}
<img src="{{ object.imagen.url }}" alt="{{object.nombre}}" style="width: 275px; height: 275px;">
{% endif %}
<div class="contenedorProducto">
    <div class="divProducto{{object.id}}">
        {% if user.is_authenticated %}
        <form action="{% url 'AppCarrito:agregar_al_carrito' object.id%}" method="post">
            {% csrf_token %}
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="inputCantidad" name="cantidad" value="1" min="1" max="{{object.stock}}">
            <button class="btnAgregarAlCarrito" type="submit" data-id="{{object.id}}" data-nombre="{{object.nombre}}" data-precio="{{object.precio}}">Agregar al carrito</button>
        </form>
        {% else %}
        <a href="{% url 'usuarios:mi-cuenta' %}">
            <button type="button">Agregar al carrito</button>
        </a>
        {% endif %}
    </div>
</div>
{% endblock content %}