{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="botonRegistrarse" type="submit">Sign Up</button>
    </form>
    <hr>
    <div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-lg text-center">
                <div class="card-body p-5">
                    <div class="mb-4">
                        <i class="fas fa-user-circle text-success fa-4x"></i>
                    </div>
                    <h2 class="fw-bold mb-3">Login</h2>
                    {% for message in messages %}
                    <div class="alert alert-info">{{ message }}</div>
                    {% endfor %}
                    <form class="form" action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid mt-4">
                            <button id="botonLoguearse" type="submit" class="btn btn-primary btn-lg">LOG IN</button>
                        </div>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}