{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-lg text-center">
                <div class="card-body p-5">
                    <div class="mb-4">
                        <i class="fas fa-user-circle text-success fa-4x"></i>
                    </div>
                    <h2 class="fw-bold mb-3">Login</h2>
                    <form class="form" action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary btn-lg">INGRESAR</button>
                        </div>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-lg text-center">
            <div class="card-body p-5">
                <a href="{% url 'usuarios:registro' %}" style="color: white; text-decoration: none;"><button class="btn btn-primary btn-lg"><h2>REGISTRATE</h2></button></a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}