.Carrusel {
  position: relative;
  overflow: hidden;

  .carousel-inner {
    height: 375px;
  }

  .carousel-item {
    height: 100%;

    .titulosCarrusel1 {
      opacity: 0;
      transform: translateX(15px);
      transition: opacity 0.4s ease, transform 0.4s ease;

      .parrafo1 p {
        font-size: 2rem;
      }

      .titulo1 {
        padding: 15px 40px;
        border: 1.5px solid #A37F41;

        h1 {
          font-size: 4rem;
          letter-spacing: 2.5px;
        }
      }

    }

    .titulosCarrusel2 {
      opacity: 0;
      transform: translateX(15px);
      transition: opacity 0.4s ease, transform 0.4s ease;

      .parrafo2 p {
        font-size: 2rem;
      }

      .titulo2 {
        padding: 15px 40px;
        border: 1.5px solid #A37F41;

        h1 {
          font-size: 4rem;
          letter-spacing: 2.5px;
        }
      }
    }

    .Ancla1,
    .Ancla2 {
      font-size: 1.6rem;
      background-color: #A37F41;
      text-decoration: none;
      border: 1.5px solid transparent;

      span {
        font-size: 1.4rem;
        text-decoration: none;
        color: white;
      }
    }

    .Ancla1:hover,
    .Ancla2:hover {
      background-color: #5e4a27;
      box-shadow: 5px 5px 0px #a37f41;
      border: 1.5px solid #a37f41;
    }
  }
}

.carousel-item.active .titulosCarrusel1,
.carousel-item.active .titulosCarrusel2 {
  opacity: 1;
  transform: translateX(0);
}


// .carousel-item.active:first-child .titulosCarrusel1,
// .carousel-item.active:first-child .titulosCarrusel2 {
//   animation: fadeInStart 1s ease forwards;
//   animation-delay: 0.3s; 
// }

// @keyframes fadeInStart {
//   0% {
//     opacity: 0;
//     transform: translateX(15px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }


.img1 {
  background-image: linear-gradient(to right top, #1d1d1d90, #1d1d1d90), url(../assets/img/banner-mochilas-1024x446.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img2 {
  background-image: linear-gradient(to right top, #1d1d1d90, #1d1d1d90), url(../assets/img/banner_sorteo-1024x446.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Carrusel img {
  z-index: 3;
  opacity: 0;
  width: 0;
  height: 0;
}

@media (max-width: 768px) {
  .Carrusel .carousel-inner {
    height: 300px;
  }
}

.carousel-control-prev,
.carousel-control-next {
  top: 50% !important;
  bottom: 50% !important;
  width: 40px !important;
  height: 40px !important;
  padding: 0.5rem !important;
  background-color: #1a1a1a51 !important;
  transition: background-color 0s ease !important;
}

.carousel-control-prev {
  margin-left: 20px;
}

.carousel-control-next {
  margin-right: 20px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #1a1a1a !important;
}

.carousel-control-prev:hover {
  .carousel-control-prev-icon {
    background-image: url(../assets/img/left-arrow-brown.png) !important;
  }
}

.carousel-control-next:hover {
  .carousel-control-next-icon {
    background-image: url(../assets/img/right-arrow-brown.png) !important;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 2rem;
  height: 2rem;
  background-size: 100% 100%;
}

.carousel-control-next-icon {
  background-image: url(../assets/img/right-arrow-white.png) !important;
}

.carousel-control-prev-icon {
  background-image: url(../assets/img/left-arrow-white.png) !important;
}

.divProductosDestacados {
  width: 90%;

  .bordeadoCarrusel {
    p {
      margin-bottom: 0;
      font-family: "The Foregen", Sans-serif;
      font-weight: normal;
      line-height: 1em;
      letter-spacing: 2px;
      color: white;
      text-transform: uppercase;
    }

    a {
      text-decoration: none;
    }
  }
  .producto1,
  .producto2,
  .producto3,
  .producto4,
  .producto5,
  .producto6,
  .producto7,
  .producto8,
  .producto9{
    width: 25%;
    margin: 90px 50px;
    img{
      width: 75%;
      height: 75%;
    }
  }
}