{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<main class="container-fluid p-0">
    <section>
        <div class="bordeadoTitulos d-flex justify-content-center align-items-center" style="min-height: 400px;">
            <div class="titulos d-flex flex-column align-items-center">
                <h1 class="pt-5 fw-bold">no te quedes sin origen</h1>
                <h2>encontrá el punto de venta mas cercano</h2>
            </div>
        </div>
    </section>
</main>
{% endblock content %}