{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<main class="container-fluid p-0">
    <section class="Carrusel w-100">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item img1 active" data-bs-interval="600000">
                    <div class="titulosCarrusel1 h-100 d-flex flex-column align-items-center justify-content-center">
                        <div class="parrafo1 mb-2">
                            <p class="mb-0 text-white">NUEVO PRODUCTO</p>
                        </div>
                        <div class="titulo1 m-1">
                            <h1 class="mb-0 text-white">MOCHILA ORIGEN</h1>
                        </div>
                        <div class="divAncla1 bg-danger mt-2 px-5 py-4">
                            <a href="#">VER PRODUCTO</a>
                        </div>
                    </div>
                    <img src="{% static 'core/assets/img/banner-mochilas-1024x446.jpg' %}" class="d-block w-100"
                        alt="Banner mochilas">
                </div>
                <div class="carousel-item img2" data-bs-interval="600000">
                    <div class="titulosCarrusel2">
                        <div class="parrafo2">
                            <p></p>
                        </div>
                        <div class="titulo2">
                            <h1></h1>
                        </div>
                        <div class="ancla2">
                            <a href="#"></a>
                        </div>
                    </div>
                    <img src="{% static 'core/assets/img/banner_sorteo-1024x446.jpg' %}" class="d-block w-100"
                        alt="Banner sorteo yerba">
                </div>
            </div>
            <button id="btnCarruselShop1" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button id="btnCarruselShop2" class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</main>
{% endblock content %}