{% load static %}
    <footer>
        <section class="seccionFondoNegro">
            <div class="divPadreFooter">
                <div class="divHijo1 d-flex flex-row justify-content-around align-items-center pe-5">
                    <div class="divContactos h-100 d-flex align-items-center">
                        <ul class="d-flex flex-column align-items-center">
                            <li class="contacto1"><a href="tel:+5491147121998"><span>+54 9 11 4712-1998</span></a></li>
                            <li class="contacto2"><a href="https://outlook.office365.com/"><span>hola@yerbamateorigen.com.ar</span></a></li>
                            <li class="contacto3"><a href="mailto:ventas@yerbamateorigen.com.ar"><span class="elementor-icon-list-text">ventas@yerbamateorigen.com.ar</span></a></li>
                        </ul>
                    </div>
                    <div class="logoCirculo">
                        <div class="divImgCirculo">
                            <img src="{% static 'core/assets/img/yerba-mate-origen-hoja-circulo.svg' %}" alt="Origen y Hoja círculo">
                        </div>
                    </div>
                    <div class="redes h-100 d-flex align-items-end">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div class="iconosFooter w-100 d-flex flex-row justify-content-around mb-3">
                                <div class="iconoIG d-flex align-items-center justify-content-center">
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fa-brands fa-instagram fs-2 ps-2"></i>
                                    </a>
                                </div>
                                <div class="iconoFB d-flex align-items-center justify-content-center">
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fa-brands fa-facebook fs-2 pe-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="Parrafo">
                                <p class="text-white">SEGUINOS EN LAS REDES</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separadorFooter d-flex flex-row justify-content-center align-items-center pb-3">
                    <hr>
                    <span class="text-white">x</span>
                    <hr>
                </div>
                <div class="divHijo2">
                    <ul class="anclasFooter d-flex justify-content-evenly">
                        <li>
                            {% if active_page == 'home' %}
                            <a class="nav-link active" href="{% url 'core:index' %}">HOME</a>
                            {% else %}
                            <a class="nav-link" href="{% url 'core:index' %}">HOME</a>
                            {% endif %}
                        </li>
                        <hr>
                        <li>
                            {% if active_page == 'shop' %}
                            <a class="nav-link active" href="{% url 'productos:shop' %}">SHOP</a>
                            {% else %}
                            <a class="nav-link" href="{% url 'productos:shop' %}">SHOP</a>
                            {% endif %}
                        </li>
                        <hr>
                        <li>
                            {% if active_page == 'dondeComprar' %}
                            <a class="nav-link active" href="{% url 'core:dondeComprar' %}">DÓNDE COMPRAR</a>
                            {% else %}
                            <a class="nav-link" href="{% url 'core:dondeComprar' %}">DÓNDE COMPRAR</a>
                            {% endif %}
                        </li>
                        <hr>
                        <li>
                            <a class="nav-link" href="#">VENDÉ ORIGEN</a>
                        </li>
                        <hr>
                        <li>
                            <a class="nav-link" href="#">CONTACTO</a>
                        </li>
                        <hr>
                        <li>
                            <a class="nav-link" href="#">INGRESAR / CREAR CUENTA</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="logoMatecito d-flex justify-content-center">
            <img src="{% static 'core/assets/img/matecito.svg' %}" alt="matecito">
        </div>
        <section class="seccionFondoMarron d-flex flex-column align-items-center">
            <p class="w-100 text-center">#TODOTIENESUORIGEN</p>
        </section>
    </footer>