    {% load static %}
    <header class="position-sticky top-0 z-3">
        <nav class="navbar navbar-expand-lg bgHeader" data-bs-theme="dark">
            <div class="container-fluid pt-2 pb-2">
                <a class="navbar-brand ms-5" href="../main_templates/index.html">
                    <img class="imgTitulo" src="{% static 'core/assets/img/logo-origen-solo-blanco.svg' %}" alt="Logo marca">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-center fw-bold">
                        <li class="nav-item">
                            {% if active_page == 'home' %}
                                
                            <a class="home nav-link botonesNav active" href="{% url 'core:index' %}">HOME</a>
                            {% else %}
                            <a class="home nav-link botonesNav" href="{% url 'core:index' %}">HOME</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if active_page == 'shop' %}
                            <a class="productos nav-link botonesNav active" href="{% url 'core:shop' %}">SHOP</a>
                            {% else %}
                            <a class="productos nav-link botonesNav" href="{% url 'core:shop' %}">SHOP</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <a class="sucursales nav-link botonesNav" href="#">DÓNDE COMPRAR</a>
                        </li>
                        <li class="nav-item">
                            <a class="acercaDe nav-link botonesNav" href="#">VENDÉ ORIGEN</a>
                        </li>
                        <li class="nav-item">
                            <a class="contacto nav-link botonesNav" href="#">CONTACTO</a>
                        </li>
                        <li class="nav-item">
                            <a class="acercaDe nav-link botonesNav" href="#">INGRESAR/CREAR CUENTA</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link position-relative dropdown-toggle" id="carritoDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="logo-carrito" src="{% static 'core/assets/img/shopping-cart.png' %}" alt="Carrito">
                                <span id="cantidadItemsCarrito"
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="carritoDropdown"
                                style="min-width: 300px; max-height: 400px; overflow-y: auto;">
                                <li>
                                    <p class="fs-5">Carrito</p>
                                </li>
                                <li>
                                    <div id="itemsMiniCarrito"></div>
                                </li>
                                <li class="mt-2 fw-bold">Total: $<span id="totalMiniCarrito">0</span></li>
                                <li class="d-flex justify-content-between mt-2">
                                    <button id="btnVaciarCarrito" class="btn btn-outline-danger btn-sm">Vaciar</button>
                                    <button id="sidebarButton" class="btn btn-primary btn-sm" type="button"
                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                        aria-controls="offcanvasRight">Ver carrito</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>